header{
    height: 80px;
    text-align: center;
    font-size: x-large;
    font-family: 'DotGothic16', sans-serif;
    background: #73b0f5;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background: url("Imagenes/background.jpg");
    padding: 0px;
    margin: 0px;
}

header img {
    width: 80px;
    float: left;

}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px 5px 10px 20px;
    margin: 10px 370px 10px 370px;

}

section{
    border-width: 10px;
    border-style: ridge;
    border-color: #0956ff;
    background-color: #cecece;
    padding: 10px 15px 250px 15px;
    margin: 10px 320px 90px 320px;

}

footer{
    text-align: center;
    color: white;
    width: 100%;
    background: #202020;
    padding: 40px;
}



div{
    padding: 30px 80px 10px 30px;
}

.columna_uno{
    float: left;
}

.boton a{
    font-family: 'Noto Sans',Arial,sans-serif;
    font-size: 24px;
    font-weight: 900;
    background-color: #EAF3FB;
    text-decoration: none;
    color: #000000;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999999;
    border-right-color: #E9E9E9;
    border-bottom-color: #E9E9E9;
    border-left-color: #999999;
    margin: 72px;


}

.boton a:hover{
    font-family: 'Noto Sans',Arial,sans-serif;
    font-size: 24px;
    font-weight: 900;
    background-color: #13bcff;
    text-decoration: none;
    color: #FFFFFF;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #E9E9E9;
    border-right-color: #666666;
    border-bottom-color: #666666;
    border-left-color: #E9E9E9;
}

.sobre_mi {
    border-width: 10px;
    border-style: ridge;
    border-color: #0956ff;
    background-color: #cecece;
    padding: 10px 15px 25px 15px;
    margin: 10px 270px 90px 270px;

}

.sobre_mi img{
    width: 420px;
    display:block;
    margin:auto;
}